<h1>Built-In Matchers</h1>

<p>Jasmine comes with a few pre-built matchers like so:</p>

<ul>
  <li>expect(array).toContain(member);</li>
  <li>expect(fn).toThrow(string);</li>
  <li>expect(fn).toThrowError(string);</li>
  <li>expect(instance).toBe(instance);</li>
  <li>expect(mixed).toBeNull();</li>
  <li>expect(mixed).toBeDefined();</li>
  <li>expect(mixed).toBeUndefined();</li>
  <li>expect(mixed).toBeFalsy();</li>
  <li>expect(mixed).toBeTruthy();</li>
  <li>expect(mixed).toMatch(pattern);</li>
  <li>expect(mixed).toEqual(mixed);</li>
  <li>expect(number).toBeNaN();</li>
  <li>expect(number).toBeCloseTo(number, decimalPlaces);</li>
  <li>expect(number).toBeGreaterThan(number);</li>
  <li>expect(number).toBeLessThan(number);</li>
  <li>expect(spy).toHaveBeenCalled();</li>
  <li>expect(spy).toHaveBeenCalledTimes(number);</li>
  <li>expect(spy).toHaveBeenCalledWith(...arguments);</li>
</ul>
